/* Footer Section
----------------- */
.footer {
    width: 100%;
    position: relative;
    padding: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: #222;
        z-index: -1;

        @include phone-767 {
            height: 62%;
        }
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
        max-width: 1440px;
        margin: auto;
        width: 100%;

        .title {
            font-size: calc(35px + (48 - 35) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 600;
            line-height: 1.2;
            color: #fff;
        }

        .line {
            width: 100%;
            height: 2px;
            background: #fff;
        }

        .newsletter {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));

            @include max-width-1023 {
                grid-template-columns: 1fr;
            }

            .left-col {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                border-radius: 40px;

                @include phone-480 {
                    flex-direction: column;
                    border: none;
                    gap: 20px;
                }

                input {
                    padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (28 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: #fff;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    background: transparent;
                    flex-basis: 100%;
                    border-radius: 40px 0px 40px 0px;

                    @include phone-480 {
                        border: 1px solid #fff;
                        border-radius: 40px;
                        padding: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (28 - 15) * ((100vw - 320px) / (1920 - 320)));
                        width: 100%;
                    }

                    ::placeholder {
                        color: #fff;
                    }
                }

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 16px;
                    font-weight: 600;
                    padding: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (28 - 15) * ((100vw - 320px) / (1920 - 320)));
                    border: 1px solid #999999;
                    border-radius: 40px;
                    min-width: 250px;
                    justify-content: center;

                    @include phone-601 {
                        min-width: 200px;
                    }

                    @include phone-480 {
                        min-width: 100%;
                    }
                }
            }

            .right-col {
                .text {
                    font-size: 21px;
                    color: #fff;
                    line-height: 1.5;
                }
            }
        }
    }

    .address-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
        width: 100%;
        margin-top: 350px;

        @include phone-767 {
            margin-top: 250px;
            padding-top: 65px;
        }

        .contact-block {
            display: flex;
            align-items: center;
            gap: 15px;

            @include phone-601 {
                flex-direction: column;
            }

            .line {
                width: 2px;
                min-height: 15px;
                background: #222;
            }
        }

        a {
            color: #222;
            font-size: 21px;
        }

        .solid-font {
            font-weight: 300;

            &.top-10 {
                transform: translateY(8px);
            }
        }

        .icon-block{
            display: flex;
            gap: 15px;

            a{
                font-size: 25px;
            }
        }
    }

    svg {
        transform: rotate(180deg);
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        z-index: -1;

        @include phone-767 {
            top: 150px;
        }
    }

    .wave {
        animation: wave 8s linear;
        animation-iteration-count: infinite;
        fill: #222222;
    }

    #wave2 {
        animation-duration: 10s;
        animation-direction: reverse;
        opacity: .6
    }

    #wave3 {
        animation-duration: 13s;
        opacity: .3;
    }

    @keyframes wave {
        to {
            transform: translateX(-100%);
        }
    }

    @keyframes ball {
        to {
            transform: translateY(20%);
        }
    }
}

/* Copyright Section
-------------------- */
.copyright {
    width: 100%;
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) 5%;
    background: #222;
    border-top: 1px solid #fff;

    .text {
        color: #fff;
        text-align: center;
        font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
    }

    a {
        color: darkcyan;
    }
}